<header>
  Image to Greyscale
</header>

<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <h3>Choose File</h3>
          <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <input type="file" name="image" (change)="fileInputEvent($event)" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Submit</button>
              </div>
              <div *ngIf="fileUploadProgress">
                Upload Progress: {{ fileUploadProgress }}
              </div>
              <h4>Original Image:</h4>
              <div class="image-preview" *ngIf="originalImagePreviewUrl">
                <img [src]="originalImagePreviewUrl" height="320" />
              </div>
              <h4>New Image:</h4>
              <div class="image-preview" *ngIf="newImagePreviewUrl">
                <img [src]="newImagePreviewUrl" height="320" />
              </div>
          </form>
      </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
